.gameCover {
  width: 200px;
}

.gender-btn {
  width: 7vw;
}

.platform-btn {
  width: 7vw;
}

.genre-div {
  margin-left: 20vw;
  margin-right: 20vw;
}

.form-control {
  font-size: 1.1vw;
}

#genre-div{
  padding-top: 0px;
}
#platform-div{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#age-div {
  padding-left: 41.5vw;
  padding-right: 41.5vw;
  margin-top: 2vh;
}

#child-info {
  margin-bottom: 2vh;
}


