/*Stylesheet for wishlist, dislike and already owned pages*/

.jumbotron{
  padding: 2rem 2rem;
  text-align: center;
}

.gameCover {
  width: 30vw;
  height:40vw;
  padding: 1rem 1rem;
}

.screenshots {
  justify-content:center;
  width: 100%;
  margin-top: 20px;
  margin-bottom:20px;
}

.btn{
  margin:1rem 0.5rem;
}

.gamediv{
  justify-content:center;
  text-align: center;
}