/* universal css for all pages*/
.jumbotron{
  padding: 2rem 2rem;
}

/*css for analysis page*/
#analysis {
  margin-left: 5vw;
}

/*css for child info page*/
.gender-btn {
  width: 7vw;
}

.platform-btn {
  width: 7vw;
}

.genre-div {
  margin-left: 20vw;
  margin-right: 20vw;
}

.form-control {
  font-size: 1.1vw;
}

#list_hr {
    display: block;
    margin-top: 1vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#back_btn {
  margin-right: 10px
}

#genre-div{
  padding-top: 0px;
}
#platform-div{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#age-div {
  padding-left: 41.5vw;
  padding-right: 41.5vw;
  margin-top: 2vh;
}

#child-info {
  margin-bottom: 2vh;
}

/* For game_rec.html*/

.screenshots {
  justify-content:center;
  width: 100%;
  margin-top: 20px;
  margin-bottom:20px;
}

.gameCover {
  width: 30vw;
  height:40vw;
}

#game_rec{
  display: flex;
  align-items: center;
  margin:2vw;
}

#gameCover{
  width: 40%;
  height: 100%;
  vertical-align: text-top;
  float:left;
}
#gamesAndSummary{
  width: 60%;
  height:100%;
  float:left;
}
#games{
  height: 20%;
}
#summary{
  height: 80%;
}

#options{
  width:100vw;
  height:7vw;
  margin:2vw;
}

.button{
  width:20vw;
  height:5vw;
  margin:1vw;
  float:left;
}
